<div class="container" style="margin-top: 50px">
    {{!-- fila 1 --}}
    <div class="row">
        <p class="text-end">¡Hola, {{usuario}}! <a class="btn btn-danger" href="/admin/login/logout">Cerrar Sesión <i
                    class="fa fa-sign-out" aria-hidden="true"></i></a></p>
    </div>
    {{!-- fila 2 --}}
    <div class="row">
        <div class="col-7">
            <h3>Listado de Novedades</h3>
        </div>
        <div class="col-5 text-end">
            <a class="btn btn-success" href="/admin/novedades/agregar"><i class="fa fa-plus" aria-hidden="true"></i>
                Nuevo</a>
        </div>
    </div>

    {{!-- Para cambiar el orden en que se ven las novedades --}}
    <div>
        <h6>Orden</h6>
        <a href="/admin/novedades/asc">Ascendente</a>
        <a href="/admin/novedades">Descendente</a>
    </div>

<div class="col-3">
<form action="/admin/novedades" class="d-flex" method="get">
    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="search" name="q" {{#if q}} value="{{q}}" {{/if}}>
    <button class="btn btn-secondary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>

</div>
    {{!-- fila 3 --}}
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th class="text-center">Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each novedades}}
                    <!-- esto hace que traiga las novedades que llamé desde model, como después le puse id sabe el id de cada cosa, como es each, e incluye tanto eliminar como modificar, respetan el mismo id -->
                    <tr>
                        <th scope="row" class="id">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td class="text-center">
                            <a class="btn btn-secondary" href="/admin/novedades/modificar/{{id}}"><i
                                    class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a class="btn btn-secondary" href="/admin/novedades/eliminar/{{id}}" id="eliminar"
                                onclick="return confirm('¿Estás seguro que quieres eliminar esta novedad?')"><i
                                    class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>
            {{#if is_search}}
            {{#unless novedades.length}}
            No se encontraron resultados para "<b>{{q}}</b>""
            {{/unless}}
            {{/if}}
        </div>
    </div>

</div>

<script>
    var orden = document.getElementsByClassName('id');
    var ascendente = document.getElementsByClassName('ascendente')[0];
    var descendente = document.getElementsByClassName('descendente')[0];

    orden = parseInt(orden)

    function orden(orden) {
        if (ascendente = true) {

        } else {
            reverse(orden);
        }
    };
</script>